Modelo-Menu.png
assets/musicas/Polyphia-Playing_God.mp3
__pycache__/main.cpython-311.pyc
fases/__pycache__/fase1.cpython-311.pyc
fases/__pycache__/fases_menu.cpython-311.pyc
menu/__pycache__/menu.cpython-311.pyc
menu/__pycache__/config.cpython-311.pyc
config/__pycache__/variables.cpython-311.pyc
