Modelo-Menu.png
assets/musicas/Polyphia-Playing_God.mp3

menu/__pycache__/config.cpython-311.pyc
menu/__pycache__/configuracoes.cpython-311.pyc
menu/__pycache__/manual.cpython-311.pyc
menu/__pycache__/menu.cpython-311.pyc
fases/__pycache__/fase1.cpython-311.pyc
fases/__pycache__/fase2.cpython-311.pyc
fases/__pycache__/fase3.cpython-311.pyc
fases/__pycache__/fase4.cpython-311.pyc
fases/__pycache__/fase5.cpython-311.pyc
fases/__pycache__/fases_menu.cpython-311.pyc
fases/__pycache__/final_fase.cpython-311.pyc
fases/__pycache__/final_jogo.cpython-311.pyc
fases/__pycache__/grafo.cpython-311.pyc
historia/__pycache__/introducao.cpython-311.pyc
configuracoes/__pycache__/manipulerjson.cpython-311.pyc
configuracoes/__pycache__/variables.cpython-311.pyc
__pycache__/main.cpython-311.pyc
assets/audios/__pycache__/manipuleraudio.cpython-311.pyc
assets/imagens/__pycache__/manipulerimg.cpython-311.pyc
menu/A fazer.txt
menu/Ideias.txt
