Modelo-Menu.png
assets/musicas/Polyphia-Playing_God.mp3
__pycache__/main.cpython-311.pyc
fases/__pycache__/fase1.cpython-311.pyc
fases/__pycache__/fases_menu.cpython-311.pyc
menu/__pycache__/menu.cpython-311.pyc
menu/__pycache__/config.cpython-311.pyc
config/__pycache__/variables.cpython-311.pyc
configuracoes/variables.json
menu/__pycache__/configuracoes.cpython-311.pyc
fases/__pycache__/fase2.cpython-311.pyc
historia/__pycache__/introducao.cpython-311.pyc
configuracoes/__pycache__/variables.cpython-311.pyc
fases/__pycache__/final_fase.cpython-311.pyc
menu/__pycache__/manual.cpython-311.pyc
fases/__pycache__/grafo.cpython-311.pyc
configuracoes/__pycache__/manipulerjson.cpython-311.pyc
configuracoes/__pycache__/manipulerjson.cpython-312.pyc
configuracoes/__pycache__/variables.cpython-312.pyc
fases/__pycache__/fase1.cpython-312.pyc
fases/__pycache__/fase2.cpython-312.pyc
fases/__pycache__/fase3.cpython-312.pyc
fases/__pycache__/fase4.cpython-312.pyc
fases/__pycache__/fases_menu.cpython-312.pyc
fases/__pycache__/final_fase.cpython-312.pyc
fases/__pycache__/grafo.cpython-312.pyc
historia/__pycache__/introducao.cpython-312.pyc
menu/__pycache__/configuracoes.cpython-312.pyc
menu/__pycache__/manual.cpython-312.pyc
menu/__pycache__/menu.cpython-312.pyc
__pycache__/main.cpython-312.pyc
configuracoes/info_fases.json
configuracoes/variables.json
configuracoes/info_fases.json
configuracoes/variables.json